$primary-color: #28587B;
$secondary-color: #226F54;

$white: #D7D0C8;
$black: #000000;
$grey: #808080;

$lighten: 5;
$darken: 25;

$colors-light: (
    primary: (base: $primary-color,
        light: lighten($primary-color, $lighten),
        darken: darken($primary-color, $darken)),
    secondary: (base: $secondary-color,
        light: lighten($secondary-color, $lighten),
        darken: darken($secondary-color, $darken)),
    color-1: #e1e1e1,
    color-2: #f2f2f2,
    background: $white,
    contrast: $black,
    shadow: #8585857c,
    font: white
);

$colors-dark: (
    primary: (base: $primary-color,
        light: lighten($primary-color, $lighten),
        darken: darken($primary-color, $darken)),
    secondary: (base: $secondary-color,
        light: lighten($secondary-color, $lighten),
        darken: darken($secondary-color, $darken)),
    color-1: #181818,
    color-2: #121212,
    background: $black,
    contrast: $white,
    shadow: #cfcfcf72,
    font: black
);