@import "./colors.scss";
@import "./fonts/fonts.scss";
@import "./animation/animations.scss";
@import "./forms.scss";
@import "./buttons.scss";
@import "./text.scss";

body {
    background-color: map-get($colors-light, background);
    color: map-get($colors-light, contrast);
}

[data-theme="dark"] {
    body {
        background-color: map-get($colors-dark, background);
        color: map-get($colors-dark, contrast);
    }
}