.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loading-bar {
    width: 80%;
    height: 20px;
    background: linear-gradient(90deg, #28587B, #226F54, #F4A261, #28587B);
    background-size: 200% 100%;
    border-radius: 10px;
    animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}