// .hamburger {
//     width: 30px;
//     height: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     cursor: pointer;
// }

// .bar {
//     width: 100%;
//     height: 4px;
//     background-color: black;
//     transition: transform 0.3s, opacity 0.3s;
// }

// .bar.open:nth-child(1) {
//     transform: rotate(45deg) translate(5px, 5px);
// }

// .bar.open:nth-child(2) {
//     opacity: 0;
// }

// .bar.open:nth-child(3) {
//     transform: rotate(-45deg) translate(5px, -5px);
// }

@use "../../../globalStyle/colors.scss";

.hamburger {
    display: none; 
  
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      background-color: map-get(map-get($colors-light, primary), base);
      padding: .5em;
    }
  
    .bar {
      width: 100%;
      height: 4px;
      background-color: map-get($colors-light, font);
      transition: all 0.3s ease;
    }
  
    &.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &.open .bar:nth-child(2) {
      opacity: 0;
    }
    &.open .bar:nth-child(3) {
      transform: rotate(-50deg) translate(7px, -5px);
    }
  }
  